header {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 50px;
}

nav {
    position: relative;
    top: 40px;
}

ul.inlne li {
    display: inline;
    text-align: right;
    margin-left: 40px;
}

.work {
    width: 90%x;
    height: 75%;
    text-align: left;
    border: 0px none black;
}

img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    padding: 20px;
    border: 9px solid darkblue;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 2vw);
    grid-gap: 20px;
    width: 60%;
    height: 20%;
    float: right;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 14;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 14;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 20;
}

.gallery__item--5 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 14;
    grid-row-end: 20;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}
  
  
  
  